/* AboutUsSection.css */
.about-us-section {
  background-color: #fafafa; /* Light gray background for the section */
  padding: 60px 15px;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
  color: #333; /* Dark text color for the content */
}

.container {
  max-width: 1000px;
  margin: 5px auto;
  padding: 30px;
  background-color: #fff; /* White background for the container */
  box-shadow: 0 6px 12px rgba(227, 0, 15, 0.2); /* Red shadow with some transparency */
  border-radius: 15px;
}

.about-us-section h2 {
  color: #333; /* Black color for the heading */
  margin-bottom: 30px;
  font-size: 3rem;
}

.about-us-section p {
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: 25px;
}

/* Additional styles for the button */
.cta-button-ABUS {
  padding: 10px 30px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #e3000f; /* Red background for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button-ABUS:hover {
  background-color: #db4d4d; /* Slightly darker red on hover */
}

/* Optional animation */
.container {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
