.categoionries-sect {
  padding: 50px 20px;
  padding-top: 5px;
  background-color: #fafafa;
}
.categories-section h1 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  color: #1c1c1c;
}

.categories-section h2 {
  margin-bottom: 2em;
  font-size: 1.2rem;
  color: #e3000f;
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}


.categories-section {
  scroll-behavior: smooth;
}
